<center><img src="img/ironhack.png" width="250"></center>

# Module 2 Mini Project
## Exploratory Data Analysis

<img src="img/lol_logo.png" width="200">

Beginning at the end of this month (September 2020), the League of Legends World Championships is an annual esports tournament that gathers the best players from all continents and attracts millions of viewers globally.

The game pits two teams of 5 players each on a symmetrical map where the ultimate goal is to destroy the enemy's base called the nexus. Each player, called summoner, can choose a champion from a pool of 150 different characters with their own story, style and set of attributes.

A simple combination calculation shows that we can have on the map the following number of 10-champion configuration:

$C_{150}^{10} = \frac{150!}{10!(150 − 10)!} = 1169554298222310$</br>
Or $1.16955429822230 × 10^{15}$ combinations of unique champions!

## The Subject and problematic
With this huge number of different combinations and with the uniqueness of every champion available to choose from, we will look into the synergy of all these characters to try and predict the best composition to win at the game. 

## The Dataset
This dataset represents, at the time of writing and to the best of the author's knowledge, the largest and most comprehensive dataset of League of Legends ranked matches from North American server. There are approximately 10 000 matches in this data set, with each match containing over 700 individual items, ranging from champion/spell choice, team stats, to individual player performance.

In [ ]:
#'b_towerKills', 'b_baronKills', 'b_dragonKills', 'b_riftHeraldKills',
#'r_towerKills', 'r_baronKills', 'r_dragonKills', 'r_riftHeraldKills',
#'b_summoner1_lane', 'b_summoner1_championId'

| Column  | Description  |
|---|---|
| Price  | Price in US dollars (326-18,823)  |
| Carat  | Weight of the diamond (0.2--5.01)  |
| Cut  | Quality of the cut (Fair, Good, Very Good, Premium, Ideal)  |
| Color  | Diamond colour, from J (worst) to D (best)  |
| Clarity  | A measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))   |
| x  | Length in mm (0--10.74)  |
| y  | Width in mm (0--58.9)  |
| z  | Depth in mm (0--31.8)  |
| Depth  | Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)  |
| Table  | Width of top of diamond relative to widest point (43--95)  |

## Cleaning the Data
As you may realize, the data is quite dense with 775 columns in total and therefore we will obviously drop a lot of columns that are not relevant to our analysis. The data is quite exhaustive and compile statistics for all 10 players during a party. Many of the columns we have are repeated 10 times across the set to show individual performance by each player.

In [1]:
# Imports
from riotwatcher import LolWatcher, ApiError
import pandas as pd
import numpy as np
import json

In [2]:
# Utility functions
# JSON function
def getJSONValue(val):
    with open('secret.json') as file:
        data = json.load(file)
        return data[val]

In [3]:
# RiotWatcher API credentials and config
api_key = getJSONValue('API_KEY')
watcher = LolWatcher(api_key)
my_region = 'euw'

In [4]:
latest = watcher.data_dragon.versions_for_region(my_region)['n']['champion']
# Lets get some champions static information
static_champ_list = watcher.data_dragon.champions(latest, False, 'en_US')

champ_dict = {}
for key in static_champ_list['data']:
    row = static_champ_list['data'][key]
    champ_dict[int(row['key'])] = row['id']

In [5]:
games = pd.read_csv('data/training_data.csv')
games.columns = [c.strip().replace("'", "") for c in games.columns.values.tolist()]

In [6]:
# Columns to drop
# team columns to drop
superfluous_cols = ['b_firstBlood',
'b_firstInhibitor',
'b_firstTower',
'b_firstBaron',
'b_firstDragon',
'b_firstRiftHerald',
'b_inhibitorKills',
'r_firstBlood',
'r_firstTower',
'r_firstInhibitor',
'r_firstBaron',
'r_firstDragon',
'r_firstRiftHerald',
'r_inhibitorKills']
# summoner columns to drop
summon_suffix_cols = ['accountId',
'level',
'role',
'championLevel',
'championPoints',
'lastPlayTime',
'championPointsSinceLastLevel',
'championPointsUntilNextLevel',
'chestGranted',
'tokensEarned',
'totalChampionMastery',
'spell1Id',
'spell2Id',
'item0',
'item1',
'item2',
'item3',
'item4',
'item5',
'item6',
'largestKillingSpree',
'largestMultiKill',
'killingSprees',
'longestTimeSpentLiving',
'doubleKills',
'tripleKills',
'quadraKills',
'pentaKills',
'magicDamageDealt',
'physicalDamageDealt',
'trueDamageDealt',
'largestCriticalStrike',
'totalDamageDealtToChampions',
'magicDamageDealtToChampions',
'physicalDamageDealtToChampions',
'trueDamageDealtToChampions',
'totalUnitsHealed',
'damageSelfMitigated',
'damageDealtToObjectives',
'damageDealtToTurrets',
'timeCCingOthers',
'magicalDamageTaken',
'physicalDamageTaken',
'trueDamageTaken',
'goldSpent',
'turretKills',
'inhibitorKills',
'totalMinionsKilled',
'neutralMinionsKilled',
'neutralMinionsKilledTeamJungle',
'neutralMinionsKilledEnemyJungle',
'totalTimeCrowdControlDealt',
'visionWardsBoughtInGame',
'sightWardsBoughtInGame',
'wardsPlaced',
'wardsKilled',
'firstBloodKill',
'firstBloodAssist',
'firstTowerKill',
'firstTowerAssist',
'combatPlayerScore',
'objectivePlayerScore',
'totalPlayerScore',
'totalScoreRank']
# prefix to summoner columns to drop
summon_prefix_cols = ['b_summoner1_', 'b_summoner2_', 'b_summoner3_', 'b_summoner4_', 'b_summoner5_',
                      'r_summoner1_', 'r_summoner2_', 'r_summoner3_', 'r_summoner4_', 'r_summoner5_']


# Drop all superfluous columns
summoner_cols = [(col + suffix).strip().replace('\n', '') for suffix in summon_suffix_cols for col in summon_prefix_cols]
drop_cols = summoner_cols + superfluous_cols
games.drop(drop_cols, axis='columns', inplace=True)

In [7]:
# Set game ID as index
games.set_index('gameId', inplace=True)

In [8]:
games.head()

,b_towerKills,b_baronKills,b_dragonKills,b_riftHeraldKills,r_towerKills,r_baronKills,r_dragonKills,r_riftHeraldKills,b_summoner1_lane,b_summoner1_championId,...,r_summoner5_deaths,r_summoner5_assists,r_summoner5_totalDamageDealt,r_summoner5_totalHeal,r_summoner5_visionScore,r_summoner5_totalDamageTaken,r_summoner5_goldEarned,r_summoner5_champLevel,b_win,r_win
gameId,,,,,,,,,,,,,,,,,,,,,
3376031541,9,1,4,0,1,0,0,1,TOP,62,...,7,5,44086,975,48,19662,6587,11,1,0
3419506031,10,3,3,0,3,0,2,2,TOP,114,...,7,4,23721,970,42,22525,7787,14,1,0
3419541356,2,0,1,1,0,0,1,0,BOTTOM,89,...,3,0,54787,678,11,14516,5912,13,1,0
3419796753,8,1,4,1,3,0,1,1,JUNGLE,35,...,10,11,181105,9223,15,30624,10700,15,1,0
3418930158,11,0,1,1,1,0,3,0,TOP,101,...,12,1,89158,1879,8,25343,7016,14,1,0

In [9]:
# Convert champion Id to champion name
for pre in summon_prefix_cols:
    games[pre + 'championId'] = games[pre + 'championId'].apply(lambda x: champ_dict[x])

In [22]:
games['r_summoner5_championId']

gameId
3376031541           Sett
3419506031         Thresh
3419541356           Sett
3419796753           Ekko
3418930158            Jax
                 ...
3408492034    MissFortune
3380271677          Garen
3417146599       Tristana
3435925754             Vi
3438028658        Orianna
Name: r_summoner5_championId, Length: 9159, dtype: object

In [11]:
games.head()

,b_towerKills,b_baronKills,b_dragonKills,b_riftHeraldKills,r_towerKills,r_baronKills,r_dragonKills,r_riftHeraldKills,b_summoner1_lane,b_summoner1_championId,...,r_summoner5_deaths,r_summoner5_assists,r_summoner5_totalDamageDealt,r_summoner5_totalHeal,r_summoner5_visionScore,r_summoner5_totalDamageTaken,r_summoner5_goldEarned,r_summoner5_champLevel,b_win,r_win
gameId,,,,,,,,,,,,,,,,,,,,,
3376031541,9,1,4,0,1,0,0,1,TOP,MonkeyKing,...,7,5,44086,975,48,19662,6587,11,1,0
3419506031,10,3,3,0,3,0,2,2,TOP,Fiora,...,7,4,23721,970,42,22525,7787,14,1,0
3419541356,2,0,1,1,0,0,1,0,BOTTOM,Leona,...,3,0,54787,678,11,14516,5912,13,1,0
3419796753,8,1,4,1,3,0,1,1,JUNGLE,Shaco,...,10,11,181105,9223,15,30624,10700,15,1,0
3418930158,11,0,1,1,1,0,3,0,TOP,Xerath,...,12,1,89158,1879,8,25343,7016,14,1,0

In [23]:
games.columns

Index(['b_towerKills', 'b_baronKills', 'b_dragonKills', 'b_riftHeraldKills',
       'r_towerKills', 'r_baronKills', 'r_dragonKills', 'r_riftHeraldKills',
       'b_summoner1_lane', 'b_summoner1_championId',
       ...
       'b_totalDamageTaken', 'r_kills', 'r_deaths', 'r_assists', 'r_avgLevel',
       'r_totalGold', 'r_totalVisionScore', 'r_totalDamageDealt',
       'r_totalHeal', 'r_totalDamageTaken'],
      dtype='object', length=138)

In [12]:
games['b_summoner1_lane'].unique()

array(['TOP', 'BOTTOM', 'JUNGLE', 'NONE', 'MIDDLE'], dtype=object)

In [13]:
# Create Team K/D/A columns
# Sum for each team the values of the columns Kills, Deaths and Assists
# Blue Team
games['b_kills'] = games[['b_summoner1_kills', 'b_summoner2_kills', 'b_summoner3_kills', 'b_summoner4_kills', 'b_summoner5_kills']].sum(axis=1)
games['b_deaths'] = games[['b_summoner1_deaths', 'b_summoner2_deaths', 'b_summoner3_deaths', 'b_summoner4_deaths', 'b_summoner5_deaths']].sum(axis=1)
games['b_assists'] = games[['b_summoner1_assists', 'b_summoner2_assists', 'b_summoner3_assists', 'b_summoner4_assists', 'b_summoner5_assists']].sum(axis=1)
games['b_avgLevel'] = games[['b_summoner1_champLevel', 'b_summoner2_champLevel', 'b_summoner3_champLevel', 'b_summoner4_champLevel', 'b_summoner5_champLevel']].sum(axis=1) / 5
games['b_totalGold'] = games[['b_summoner1_goldEarned', 'b_summoner2_goldEarned', 'b_summoner3_goldEarned', 'b_summoner4_goldEarned', 'b_summoner5_goldEarned']].sum(axis=1)
games['b_totalVisionScore'] = games[['b_summoner1_visionScore', 'b_summoner2_visionScore', 'b_summoner3_visionScore', 'b_summoner4_visionScore', 'b_summoner5_visionScore']].sum(axis=1)
games['b_totalDamageDealt'] = games[['b_summoner1_totalDamageDealt', 'b_summoner2_totalDamageDealt', 'b_summoner3_totalDamageDealt', 'b_summoner4_totalDamageDealt', 'b_summoner5_totalDamageDealt']].sum(axis=1)
games['b_totalHeal'] = games[['b_summoner1_totalHeal', 'b_summoner2_totalHeal', 'b_summoner3_totalHeal', 'b_summoner4_totalHeal', 'b_summoner5_totalHeal']].sum(axis=1)
games['b_totalDamageTaken'] = games[['b_summoner1_totalDamageTaken', 'b_summoner2_totalDamageTaken', 'b_summoner3_totalDamageTaken', 'b_summoner4_totalDamageTaken', 'b_summoner5_totalDamageTaken']].sum(axis=1)

# Red Team
games['r_kills'] = games[['r_summoner1_kills', 'r_summoner2_kills', 'r_summoner3_kills', 'r_summoner4_kills', 'r_summoner5_kills']].sum(axis=1)
games['r_deaths'] = games[['r_summoner1_deaths', 'r_summoner2_deaths', 'r_summoner3_deaths', 'r_summoner4_deaths', 'r_summoner5_deaths']].sum(axis=1)
games['r_assists'] = games[['r_summoner1_assists', 'r_summoner2_assists', 'r_summoner3_assists', 'r_summoner4_assists', 'r_summoner5_assists']].sum(axis=1)
games['r_avgLevel'] = games[['r_summoner1_champLevel', 'r_summoner2_champLevel', 'r_summoner3_champLevel', 'r_summoner4_champLevel', 'r_summoner5_champLevel']].sum(axis=1) / 5
games['r_totalGold'] = games[['r_summoner1_goldEarned', 'r_summoner2_goldEarned', 'r_summoner3_goldEarned', 'r_summoner4_goldEarned', 'r_summoner5_goldEarned']].sum(axis=1)
games['r_totalVisionScore'] = games[['r_summoner1_visionScore', 'r_summoner2_visionScore', 'r_summoner3_visionScore', 'r_summoner4_visionScore', 'r_summoner5_visionScore']].sum(axis=1)
games['r_totalDamageDealt'] = games[['r_summoner1_totalDamageDealt', 'r_summoner2_totalDamageDealt', 'r_summoner3_totalDamageDealt', 'r_summoner4_totalDamageDealt', 'r_summoner5_totalDamageDealt']].sum(axis=1)
games['r_totalHeal'] = games[['r_summoner1_totalHeal', 'r_summoner2_totalHeal', 'r_summoner3_totalHeal', 'r_summoner4_totalHeal', 'r_summoner5_totalHeal']].sum(axis=1)
games['r_totalDamageTaken'] = games[['r_summoner1_totalDamageTaken', 'r_summoner2_totalDamageTaken', 'r_summoner3_totalDamageTaken', 'r_summoner4_totalDamageTaken', 'r_summoner5_totalDamageTaken']].sum(axis=1)

In [14]:
games.head()

,b_towerKills,b_baronKills,b_dragonKills,b_riftHeraldKills,r_towerKills,r_baronKills,r_dragonKills,r_riftHeraldKills,b_summoner1_lane,b_summoner1_championId,...,b_totalDamageTaken,r_kills,r_deaths,r_assists,r_avgLevel,r_totalGold,r_totalVisionScore,r_totalDamageDealt,r_totalHeal,r_totalDamageTaken
gameId,,,,,,,,,,,,,,,,,,,,,
3376031541,9,1,4,0,1,0,0,1,TOP,MonkeyKing,...,73104,11,28,16,12.0,40894,113,440453,17098,99328
3419506031,10,3,3,0,3,0,2,2,TOP,Fiora,...,120016,27,30,31,16.2,63882,138,872326,26939,136496
3419541356,2,0,1,1,0,0,1,0,BOTTOM,Leona,...,52247,10,20,6,11.0,29785,58,304820,13874,57336
3419796753,8,1,4,1,3,0,1,1,JUNGLE,Shaco,...,103033,24,34,41,14.8,55716,117,668380,27990,124339
3418930158,11,0,1,1,1,0,3,0,TOP,Xerath,...,83224,18,43,18,13.2,42070,70,453739,25468,112945

In [15]:
# Locate 'NONE' in summoner lanes and replace them by 'NaN'
summoner_lanes = ['b_summoner1_lane', 'b_summoner2_lane', 'b_summoner3_lane', 'b_summoner4_lane', 'b_summoner5_lane', 'r_summoner1_lane', 'r_summoner2_lane', 'r_summoner3_lane', 'r_summoner4_lane', 'r_summoner5_lane']
games[(summoner_lanes)] = games[(summoner_lanes)].replace('NONE', np.NaN)
# Drop NaN lanes (854 out of 10013)
games = games.dropna(subset=summoner_lanes)

In [16]:
# Create subsets to isolate data specific to games and specific to teams
games_stats = games[['b_towerKills','b_baronKills','b_dragonKills','b_riftHeraldKills','r_towerKills','r_baronKills','r_dragonKills','r_riftHeraldKills','b_kills','b_deaths','b_assists','r_kills','r_deaths','r_assists','b_avgLevel','b_totalGold','b_totalVisionScore','b_totalDamageDealt','b_totalHeal','b_totalDamageTaken','r_avgLevel','r_totalGold','r_totalVisionScore','r_totalDamageDealt','r_totalHeal','r_totalDamageTaken','b_win','r_win']]
blue_stats = games.filter(regex=('b_summoner*'), axis=1)
red_stats = games.filter(regex=('r_summoner*'), axis=1)

# Save dataframes in new csv files
games_stats.to_csv('./data/games_stats.csv')
blue_stats.to_csv('./data/blue_stats.csv')
red_stats.to_csv('./data/red_stats.csv')
games.to_csv('./data/games_clean.csv')

In [18]:
games.describe()

,b_towerKills,b_baronKills,b_dragonKills,b_riftHeraldKills,r_towerKills,r_baronKills,r_dragonKills,r_riftHeraldKills,b_summoner1_kills,b_summoner1_deaths,...,b_totalDamageTaken,r_kills,r_deaths,r_assists,r_avgLevel,r_totalGold,r_totalVisionScore,r_totalDamageDealt,r_totalHeal,r_totalDamageTaken
count,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,...,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.00000,9.159000e+03,9159.000000,9159.000000
mean,5.722131,0.406158,2.089529,0.677039,5.738290,0.462933,2.066820,0.663828,5.755869,5.829894,...,114131.975652,29.257124,29.146523,41.366306,14.247975,54785.897587,119.14150,5.852556e+05,31710.971285,115021.713724
std,3.643058,0.595819,1.392371,0.707700,3.657714,0.633660,1.412943,0.705323,4.369534,3.046502,...,38687.591300,11.417858,11.315944,20.072978,1.922108,12951.939094,43.23451,1.951953e+05,16227.638201,38890.507628
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38061.000000,1.000000,1.000000,0.000000,9.200000,23644.000000,24.00000,1.741790e+05,3952.000000,34070.000000
25%,2.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000,0.000000,2.000000,4.000000,...,85788.500000,21.000000,21.000000,26.000000,12.800000,45508.500000,87.00000,4.450995e+05,20065.000000,86307.000000
50%,6.000000,0.000000,2.000000,1.000000,6.000000,0.000000,2.000000,1.000000,5.000000,6.000000,...,108905.000000,29.000000,29.000000,40.000000,14.200000,54463.000000,115.00000,5.617990e+05,28665.000000,109525.000000
75%,9.000000,1.000000,3.000000,1.000000,9.000000,1.000000,3.000000,1.000000,8.000000,8.000000,...,136748.500000,37.000000,37.000000,54.000000,15.600000,63458.500000,145.00000,7.004360e+05,39967.500000,137856.500000
max,11.000000,3.000000,6.000000,2.000000,11.000000,4.000000,7.000000,2.000000,31.000000,21.000000,...,375258.000000,79.000000,74.000000,131.000000,18.000000,113322.000000,336.00000,2.125032e+06,149952.000000,337873.000000

In [19]:
blue_stats.describe()

,b_summoner1_kills,b_summoner1_deaths,b_summoner1_assists,b_summoner1_totalDamageDealt,b_summoner1_totalHeal,b_summoner1_visionScore,b_summoner1_totalDamageTaken,b_summoner1_goldEarned,b_summoner1_champLevel,b_summoner2_kills,...,b_summoner4_champLevel,b_summoner5_kills,b_summoner5_deaths,b_summoner5_assists,b_summoner5_totalDamageDealt,b_summoner5_totalHeal,b_summoner5_visionScore,b_summoner5_totalDamageTaken,b_summoner5_goldEarned,b_summoner5_champLevel
count,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,...,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.00000
mean,5.755869,5.829894,8.212578,115580.593951,6229.176002,24.178950,22754.202096,10877.394475,14.188339,5.896277,...,14.163555,5.807184,5.867016,8.186047,116315.064090,6281.549405,23.942898,23064.622339,10903.221640,14.20155
std,4.369534,3.046502,5.446048,64870.127961,6301.905321,16.759783,10713.404631,3296.408817,2.227214,4.478595,...,2.214600,4.377541,3.081835,5.432315,65394.297675,6362.342233,16.828338,11194.633341,3303.574061,2.22299
min,0.000000,0.000000,0.000000,498.000000,0.000000,0.000000,466.000000,2876.000000,1.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3012.000000,1.00000
25%,2.000000,4.000000,4.000000,70033.000000,1910.500000,13.000000,14928.500000,8450.000000,13.000000,3.000000,...,13.000000,3.000000,4.000000,4.000000,71764.500000,2005.500000,13.000000,15052.500000,8501.500000,13.00000
50%,5.000000,6.000000,7.000000,111720.000000,4246.000000,20.000000,20876.000000,10552.000000,14.000000,5.000000,...,14.000000,5.000000,6.000000,7.000000,111968.000000,4256.000000,19.000000,21038.000000,10575.000000,14.00000
75%,8.000000,8.000000,11.000000,152731.000000,8581.000000,30.000000,28694.000000,12912.000000,16.000000,8.000000,...,16.000000,8.000000,8.000000,11.000000,154833.000000,8545.500000,29.000000,28873.000000,12947.500000,16.00000
max,31.000000,21.000000,38.000000,684420.000000,65439.000000,178.000000,90252.000000,27393.000000,18.000000,37.000000,...,18.000000,37.000000,19.000000,36.000000,736275.000000,97766.000000,154.000000,111517.000000,30898.000000,18.00000

In [20]:
red_stats.describe()

,r_summoner1_kills,r_summoner1_deaths,r_summoner1_assists,r_summoner1_totalDamageDealt,r_summoner1_totalHeal,r_summoner1_visionScore,r_summoner1_totalDamageTaken,r_summoner1_goldEarned,r_summoner1_champLevel,r_summoner2_kills,...,r_summoner4_champLevel,r_summoner5_kills,r_summoner5_deaths,r_summoner5_assists,r_summoner5_totalDamageDealt,r_summoner5_totalHeal,r_summoner5_visionScore,r_summoner5_totalDamageTaken,r_summoner5_goldEarned,r_summoner5_champLevel
count,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,...,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000,9159.000000
mean,5.814827,5.855115,8.200786,117881.511737,6360.326892,23.759035,23121.910907,10962.768534,14.260509,5.939841,...,14.232886,5.843433,5.850093,8.242712,117951.629981,6353.286603,23.948903,23062.506169,10975.938858,14.275467
std,4.352681,3.028920,5.424115,66575.530997,6302.101773,15.895004,10861.648346,3317.578706,2.241590,4.428755,...,2.244604,4.341472,3.057382,5.492450,66415.200629,6516.681665,16.391703,10966.980935,3328.595355,2.224415
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3414.000000,1.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,3135.000000,0.000000,0.000000,409.000000,3274.000000,3.000000
25%,3.000000,4.000000,4.000000,71516.500000,2029.500000,13.000000,15279.000000,8547.000000,13.000000,3.000000,...,13.000000,3.000000,4.000000,4.000000,70729.500000,1953.000000,13.000000,15298.000000,8485.500000,13.000000
50%,5.000000,6.000000,7.000000,111850.000000,4329.000000,20.000000,21234.000000,10598.000000,14.000000,5.000000,...,14.000000,5.000000,6.000000,7.000000,113345.000000,4290.000000,20.000000,21119.000000,10683.000000,14.000000
75%,8.000000,8.000000,11.000000,156968.000000,8706.000000,29.000000,29000.500000,12999.500000,16.000000,8.000000,...,16.000000,8.000000,8.000000,11.000000,157304.000000,8630.500000,29.000000,28738.000000,13086.500000,16.000000
max,28.000000,20.000000,39.000000,526405.000000,81809.000000,147.000000,111753.000000,28121.000000,18.000000,30.000000,...,18.000000,32.000000,25.000000,37.000000,513284.000000,70443.000000,146.000000,108152.000000,27022.000000,18.000000